// @import "../../styles/BreakPoints.scss";
.heroWrapper {
  height: 100vh;
  position: relative;
  @media screen and (max-width: 850px) {
    height: fit-content;
  }
  .title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 4.2vw;
    font-weight: 800;
    position: absolute;
    line-height: 1.4;
    top: 40%;
    left: -10vw;
    transform: translateY(-50%);
    background-color: #1d1d1d;
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px #eb3b5a, 0 0 10px #eb3b5a, 0 0 20px #eb3b5a,
      0 0 50px #eb3b5a;
    // animation: animate 5s linear;
    @media screen and (max-width: 850px) {
      height: 60vw;
      width: 60vw;
      margin-top: -30vw;
      left: 50%;
      font-size: 9.2vw;
      transform: translateX(-50%);
      position: relative;
    }
  }
  .devInfo {
    position: absolute;
    top: 60%;
    left: 3em;
    @media screen and (max-width: 850px) {
      top: -3em;
      position: relative;
      left: 0;
      padding: 1.5em;
    }
    > p {
      max-width: 45ch;
      color: white;
    }
    .resume {
      font-size: 1.5;
      color: white;
      text-decoration: none;
      display: inline-block;
      color: #eb3b5a;
      padding: 0.5em 2em;
      margin: 2em 0;
      border: 1px solid #eb3b5a;
      border-radius: 25px;
      transition: all 0.35s;
      &:hover {
        background-color: #eb3b5a;
        color: white;
      }
    }
  }
}
