// @import "../../styles/BreakPoints.scss";

.portfolioWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5em;
  gap: 1em;
  flex-wrap: wrap;
  .tagWrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    > button {
      font-size: 1.25em;
      padding: 5px 10px;
      background-color: transparent;
      color: #eb3b5a;
      border: 1px solid #eb3b5a;
      outline: none;
      cursor: pointer;
      min-width: fit-content;
      transition: all 0.35s;
      &:hover {
        background-color: #eb3b5a;
        color: white;
      }
      @media screen and (max-width: 500px) {
        font-size: 1em;
      }
    }
  }
  .ItemWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
  }
}
